* {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: Arial;
    text-align: center;
    line-height: 20px;
}
.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/b0a68b86128681.5d909dad4eb86.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 130px;
}
.content {
    background-color: #ffffff;
    width: 650px;
    height: 450px;
    padding: 0px 60px;
    border-radius: 20px;
    box-shadow: rgb(167, 167, 167) 0px 0px 3px 2px;
}
.pfp{
    width: 105px;
    height: 105px;
    margin: 0 auto;
    background-color: red;
    scale: 1.5;
    transform: translateY(-25px);
    border-radius: 100%;
    border: 3px white solid;
    overflow: hidden;
    box-shadow: rgb(179, 179, 179) 0px 0px 3px 2px;
}
.logo{
    width: 35px;
    height: 35px;
    box-shadow: rgb(179, 179, 179) 0px 0px 3px 2px;
    border-radius: 35%;
}
#name{
    font-size: 20px;
    font-weight: 600;
    color: purple
}
img{
    height: 100%;
    width: 100%;
    margin-right: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;

}
button{
    padding: 15px 35px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.message{
    background-color: #c89bff;
}
.follow{
    background-color: #eb7d87;
}